.header {
  padding: 15px;
  position: fixed;
  /* Stick it to the top */
  top: 0; 
  left: 0;
  text-align: center;
  display: flex;
  justify-content: left;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  color: white;
  font-size: 15px;
  width: 1000%;
}

.signButtons{
  display: flex;
  flex-direction: row;
  
}

.buttons{
  margin: 10px;
}

.subForm{
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 600px){
  .subForm{
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
 
}

.subText{
  margin: 10px;
}

.subButton{
 font-size: 15px;
 border: none;
 background-color: rgb(80, 60, 209);
 
 color: rgb(255, 255, 255);
 font-weight: bold;
 cursor: pointer;
 border-radius: 10px;
 outline: none;
 margin-left: 5px;
}
.subButton:hover{
  background-color: rgb(34, 25, 91);
}

